
 #table {
  border-collapse: collapse;
}

 .setBorder {
  border: 1px black solid;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center; 
 }

 #winner{
  font-size : 65px;
 }

